@tailwind base;
@tailwind components;
@tailwind utilities;




html, body, #root {
  
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
}

@media (min-width: 768px) {
  html, body, #root {
    max-width: 80%;
    margin: 0 auto;
    height: 100%;
    }
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}



@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* Custom Responsive Styles */
@media (max-width: 768px) {
  h1 {
    font-size: 2.5em;
  }

  button {
    padding: 0.5em 1em;
    font-size: 0.9em;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 2em;
  }

  button {
    padding: 0.4em 0.8em;
    font-size: 0.8em;
  }
}